* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  font-size: 1.6rem;
}

input {
  font-family: inherit;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line3 {
  --line-clamp: 3;
}

.word-break-all {
  word-break: break-all;
}

/*---------------------------------------------
# common
---------------------------------------------*/
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 149px;
  line-height: 58px;
  border-radius: 8px;
  background: #212832;
  color: #fff;
  font-weight: 600;
  padding: 0 10px;
}

.btn:hover {
  opacity: 0.9;
}

.section-labels {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #696d77;
}

.section-line {
  width: 18px;
  height: 2px;
  background: #696d77;
}

.section-heading {
  margin-top: 12px;
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

/*---------------------------------------------
# header styling
---------------------------------------------*/
.header {
  padding: 42px 0 10px;
  z-index: 1000;
  background: #fff;
}

.header__fixed {
  position: sticky;
  top: -32px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  gap: 6.95px;
  align-items: center;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.logo-text {
  width: 71.734px;
  height: 12.313px;
}

.navbar {
  margin-left: 70.32px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__link {
  color: #696d76;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 7.84px 0;
}

.header__link:hover {
  text-shadow: 1px 0 4px #212832;
  border-bottom: 1px solid #7264d6;
}

.header__link-active {
  text-shadow: 1px 0 0 #212832;
}

.header__cta {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.header__login {
  color: #212832;
}

.header__signup {
  border-radius: 6px;
  min-width: 113px;
  line-height: 52px;
}
/*---------------------------------------------
# hero section styling
---------------------------------------------*/
.hero {
  padding: 66px 0;
}

.hero__inner {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  /* padding: 10px 0; */
}

.hero__labels {
}

.hero__line {
}

.hero__line-desc {
  color: #696d77;
}

.hero__heading {
  margin-top: 12px;
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  width: 500px;
}

.hero--text-purple {
  color: #7264d6;
}

.hero__desc {
  margin-top: 20px;
  width: 540px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__cta {
  margin-top: 40px;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__input {
  width: 300px;
  margin-left: 23px;
  color: #696d76;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  /* font-family: segoe ui light; */
}

.hero__btn {
  margin-right: 8px;
  background: #7264d6;
  cursor: pointer;
}

.hero__cta-desc {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}

.hero__media {
  width: 570px;
  height: 562px;
  position: relative;
}

.hero__mobile-decor {
  position: absolute;
}

.hero__mobile-screen {
  top: 0;
  left: 100px;
}

.hero__mobile--decor1 {
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  top: 113px;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.hero__decor-img {
  width: 18px;
  height: 18px;
}

.hero__decor-text {
  margin-left: 8px;
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__decor-price {
  margin-left: 19px;
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.hero__mobile--decor2 {
  width: 130px;
  height: 130px;
  top: 127px;
  right: 0;
  background: #da6464;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 auto;
}

.hero__decor-percent-number {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 600;
}

.hero__decor-percent-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

.hero__mobile--decor3 {
  color: #fff;
  min-width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  position: absolute;
  right: 100px;
  bottom: 61px;
  display: flex;
  gap: 11px;
  padding: 20px 14px;
}

.hero__decor-img3 {
  width: 20px;
  height: 26px;
}

.hero__decor-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero__decor-price3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__decor-price3 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.hero__mobile-screen {
  top: 0;
  left: 100px;
}

.hero__mobile-screen-inner {
  width: 296px;
  height: 562px;
  border-radius: 40px;
  border: 12px solid #212832;
  background: #fff;
  position: relative;
}

.hero__mobile-line {
  position: absolute;
  top: 10px;
  left: 76px;
  width: 120px;
  height: 30px;
  border-radius: 18px;
  background: #212832;
}

.hero__mobile-card {
  width: 250px;
  border-radius: 20px;
  background: linear-gradient(76deg, #9487ea 11.52%, #6657d2 70.78%);
  margin: 52px auto 0;
  position: relative;
}
/*---------------------------------------------
# work section styling
---------------------------------------------*/
.work {
  padding: 66px 0;
  margin-top: 28px;
}

.work__inner {
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: space-between;
}

.work__media {
  width: 570px;
  height: 619px;
  position: relative;
}

.work__media-main {
  width: 470px;
  /* height: 550px; */
}

.work__media-img {
  width: 456px;
  height: 619px;
  background: url(../images/svg/work__img-bg.svg) no-repeat bottom center;
}

.work__media-decor {
  position: absolute;
}

.word__media-card {
  width: 64px;
  height: 64px;
  top: 76px;
  right: 162px;
  border-radius: 8px;
  background: #7264d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__img-decor1 {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__icon-decor1 {
  width: 27.788px;
  height: 22.795px;
}

.work__media-card2 {
  position: absolute;
  right: 0;
  bottom: 96px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;
}

.work__decor-box-check {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: #4ab5e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__icon-decor2 {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__decor-box-heading {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
}

.work__decor-box-desc {
  margin-top: 5px;
  color: #696d76;
  font-size: 1.2rem;
  font-weight: 400;
}

.work__content {
  padding: 28px 0;
  width: 470px;
}

.work__heading2 {
  margin-bottom: 40px;
}

.work__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work__heading3 {
  width: 470px;
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45; /* 145.455% */
}

.work__desc {
  color: #696d76;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/*---------------------------------------------
# section styling
---------------------------------------------*/
/*---------------------------------------------
# section styling
---------------------------------------------*/
/*---------------------------------------------
# section styling
---------------------------------------------*/
